.project__item {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px 10px;
    padding: auto;
    background-color: var(--project--item-color);
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    transition-duration: 0.1s;
}

.project__item__text {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project__item__caption {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.project__item .tools {
    display: flex;
    flex-direction: row;
}

.project__item .tools p {
    padding-right: 5px;
    background: -webkit-linear-gradient(var(--project--tools-color), var(--project--tools-color1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
}

.project__item img {
    transition-duration: 2s;
    border-radius: 20px;
}

.project__item img {
    height: 280px;
    width: 380px;
    padding: 14px;
}

.application img {
    height: 280px;
    width: 180px;
    padding: 14px;
}

.project__item__text .project__item__caption h1 {
    font-size: 20px;
    background: -webkit-linear-gradient(var(--text-color), var(--text-color1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project__item p {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--project-description-color);
}

.project__item:hover img {
    transform: scale(1.08);
}

.project__item:hover {
    box-shadow: 0 0 10px rgba(94, 81, 91, 0.8);
}


.project__item__button{
    margin: 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.project__item__button button{
    background-color: transparent;
    color: rgba(94, 81, 91, 0.8);
}

.project__item__button button:hover{
    box-shadow: none;
    color: var(--text-color);
    transform: translateY(-5px);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .project__item {
        width: 300px;
        margin: 10px;
    }

    .project__item__text {
        width: 200px;
    }


    .project__item img {
        height: 200px;
        width: 270px;
        padding: 5px;
    }

    .application img {
        height: 200px;
        width: 120px;
        padding: 14px;
    }



    .project__item h1 {
        font-size: 1rem;
        color: var(--project-title-color);
    }

    .project__item p {
        font-size: 14px;
        color: var(--project-description-color);
    }

    .project__item:hover img {
        transform: scale(1.05);
    }
}