.project_detail__container{
    padding: 100px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project_detail__container__upsection{
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.project_detail__container__upsection h1{
    font-size: 2rem;
    background: -webkit-linear-gradient(var(--text-color), var(--text-color1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project_detail__container__upsection p{
    font-size: 1.2rem;
    color: var(--text-color);
}

.project_detail__container__tools p{
    font-size: 1rem;
    color: var(--title-color);
}

.project_detail__container__button{
    margin: 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.project_detail__container__button button{
    background-color: transparent;
    border: 0px transparent;
    color: rgba(94, 81, 91, 0.8);
}

.project_detail__container__button button:hover{
    color: rgba(227, 43, 185, 0.8);
}

.project_detail__container__image{
    width: 50vw;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 40px;
    background-color: var(--project--item-color);
    border-radius: 10px;
    box-shadow: rgba(190, 190, 221, 0.25) 0px 0px 20px -20px, rgba(18, 196, 98, 0.3) 0px 30px 60px -30px, rgba(16, 26, 173, 0.35) 0px -2px 6px 0px inset;
    
}

.project_detail__container__image>img{
    border-radius: 10px;
    width: 90%;
}