.project_view__container{
    padding: 100px 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}

.project_view__container button{
    border: none;
    padding: 10px;
}


@media only screen and (max-width: 1800px) {
    .project_view__container{
        padding: 100px 5px;
        grid-template-columns: auto auto auto;
        row-gap: 20px;
        column-gap: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    .project_view__container{
        padding: 100px 5px;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
}


@media only screen and (max-width: 850px) {
    .project_view__container{
        padding: 100px 5px;
        grid-template-columns: auto;
        row-gap: 20px;
    }
}
