.Navbar {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    background-color: var(--navbar-color);
    z-index: 10000;
  }
  
  .Navbar .leftSide {
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    padding-top: 20px;
  }
  
  .Navbar .rightSide {
    flex: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
  }
  
  .Navbar .rightSide .hamurger__button {
    display: none;
  }
  
  .Navbar .rightSide .links {
    max-height: 80px;
  }
  .Navbar .rightSide .links a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    margin-left: 15px;
    transition: color 1s;
    padding-right: 10px;
  }
  
  .Navbar .rightSide .links a:hover {
    color: var(--text-hover-color);
  }
  
  .Navbar .rightSide #hidden {
    display: flex;
  }
  .Navbar .leftSide img{
    height: 30px;width: 30px;
    padding-right: 5px;
  }
  .Navbar .leftSide h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--title-color);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; /*Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
  }

  .runAnimation h2{
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  


  @media only screen and (max-width: 900px) {
    .Navbar .rightSide .links a {
      font-size: 0.8rem;
    }

    .Navbar .leftSide h2 {
      font-size: 1rem;
    }

    .Navbar .leftSide img{
      height: 20px;width: 20px;
      padding-right: 2px;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .Navbar .rightSide .links a {
      font-size: 1rem;
    }

    .Navbar .leftSide {
      padding-left: 5px;
      padding-top: 10px;
    }

    .Navbar .leftSide img{
      display: none;
    }

    .Navbar .leftSide h2 {
      font-size: 0.7rem;
    }
  
    .Navbar .rightSide .links {
      display: none;
    }
  
    .Navbar .rightSide button {
      display: flex;
    }
  
    .Navbar .rightSide .hamurger__button {
      display: flex;
    }
  
    .hamurger__button {
      display: flex;
      flex-direction: column;
    }
  
    .hamurger__button .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
      cursor: pointer;
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    .Navbar .rightSide #hidden {
      position: absolute;
      left: 0px;
      top: 50px;
      height: 300px;
      max-height: 300px;
      width: 100%;
      background-color: rgba(84, 84, 84, 1);
      flex-direction: column;
      align-items: center;
    }
  
    #hamburger__button__open .bar:nth-child(2) {
      opacity: 0;
    }
  
    #hamburger__button__open .bar:nth-child(1) {
      transform: translateY(13px) rotate(45deg);
    }
    #hamburger__button__open .bar:nth-child(3) {
      transform: translateY(-13px) rotate(-45deg);
    }
  
    .Navbar .rightSide #hidden a {
      margin: 20px;
      font-size: 1rem;
    }
  }
  