.footer{
    /* background-color: rgba(237, 216, 140, 0.582); */
    height: 50px;
    margin: 50px 0px 0px 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: var(--navbar-color);
}

.footer p{
    color: var(--title-color);
    font-size: 12px;
    padding: 5px;
    margin: 0;
}