/* The actual content */
.work__content {
    padding: 20px 30px;
    background-color: var(--project--item-color);
    position: relative;
    border-radius: 6px;
}

.work__content h1{
    background: -webkit-linear-gradient(var(--project--tools-color), var(--project--tools-color1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}


.work__content h2{
    color: gray;
    font-size: 0.8rem;
}

.work__content p{
    font-size: 0.8rem;
    font-weight: bold;
}

.work__content li{
    font-size: 0.9rem;
}



@media only screen and (max-width: 700px) {
    .work__content {
        padding: 10px 10px;
    }
    
    .work__content h1{
        font-size: 1rem;
    }
    
    
    .work__content h2{
        font-size: 0.6rem;
    }
    
    .work__content p{
        font-size: 0.8rem;
    }

    .work__content li{
        font-size: 0.7rem;
    }
}